.page-header__wrapper {
  padding-top: 20px;
}

.page-header__logo {
  width: 70px;
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px;

  border: 5px solid #360568;
}

.page-header__abbr {
  font-size: 25px;
  font-weight: 700;

  color: #360568;
}
