.site-list {
  padding-top: 150px;

  line-height: 27px;
  font-weight: 700;
}

.site-list__item {
  &--projects {
    display: none;
  }
}

.site-list__link {
  display: block;
  padding: 13px 21px;

  font-size: 25px;
  font-weight: 400;
  line-height: 24px;
  color: #49274a;
  text-decoration: none;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;

    padding-top: 0;
  }

  .site-list__link {
    color: #000000;
  }
}
